@use '../mixins';
@use '../variables';

form {
  label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;

    input {
      background-color: variables.$bg-color;
      border: none;
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;
      outline: none;
      margin-bottom: 1rem;
      &::placeholder {
        color: variables.$black-color;
        font-weight: bold;
      }
      &:focus {
        border: 1px solid variables.$black-color;
      }
    }
  }
  .form {
    display: flex;
    width: 100%;
    label input {
      width: 95%;
    }
  }
}

button {
  display: flex;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  justify-content: center;
  background-color: variables.$purble-color;
  color: variables.$white-color;
  width: 80%;
  margin: 1rem auto 0 auto;
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}
